@font-face {
	font-family: "Metropolis Regular";
	src: url('https://cdn.statically.io/gh/chrismsimpson/Metropolis/85fa6252/Fonts/Webfonts/WOFF/Metropolis-Regular.woff');
}

@font-face {
	font-family: "Metropolis Black";
	src: url('https://cdn.statically.io/gh/chrismsimpson/Metropolis/85fa6252/Fonts/Webfonts/WOFF/Metropolis-Black.woff');
}

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	color: #374553;
	line-height: 1.6;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

html,
body {
	height: 100%;
	font-family: "Metropolis Regular";
}

h2,
h3 {
	font-family: "Metropolis Black";
	text-align: center;
}

a {
	color: #374553;
	text-decoration: none;
}

.container {
	max-width: 840px;
	background-color: #fff;
	border: 4px solid #374553;
	border-radius: 5px;
	margin: 0 auto;
	padding: 2em;
}

form {
	margin: 35px auto;
}

form button,
.form-group {
	margin: 20px 0;
}

.alert {
	margin: 25px auto 10px auto;
}
